# Environment
NODE_ENV="development"

PORT=3000

# Database Configuration

# for run database docker
# PostgreSQL
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DB_NAME
# MySQL
# DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/DB_NAME

# for run database localhost
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/campaign_task_db"

# SQLite
# DATABASE_URL=file:./dev.db

# Email Configuration
EMAIL_USER="your_email@example.com"
EMAIL_PASS="your_email_password"